<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zysy.iflytek.edu.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="zysy.iflytek.edu.pojo.Course">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="courseCno" column="course_cno" jdbcType="VARCHAR"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="recruitsPlan" column="recruits_plan" jdbcType="INTEGER"/>
            <result property="recruitsActual" column="recruits_actual" jdbcType="INTEGER"/>
            <result property="recruitsRequest" column="recruits_request" jdbcType="INTEGER"/>
            <result property="isValid" column="is_valid" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="sort" column="sort" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_cno,course_name,
        parent_id,teacher_id,recruits_plan,
        recruits_actual,recruits_request,is_valid,
        is_deleted,sort,create_time,
        update_time
    </sql>
</mapper>
